body {
    background-color: #D2D1D1;
    font-family: 'Inconsolata', monospace;
    line-height: 1.5em;
}

header {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
#alb {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#fruv4, #alb {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 60px -16px teal;
}



footer {
    text-align: center;
    margin: 100px auto 0 auto;
}

h1 {
    font-size: 2em;
}


.song_title {
}

.song_title.p {
    font-size: 1.5em;
    line-height: 70%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tracklist {
    margin: 25px;
    text-align: center;
}

.menu li {
    display: inline;
}

h1 {
    text-transform: uppercase;
}

.contents {
    text-align: center;
    margin: 20px;
    padding: 25px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}


article {
    margin: 25px;
}

footer {
}


