@media screen and (max-width: 650px) {
    .tracklist {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .credits {
        display: none;
    }

    .alb {
        transform: scale(0.7);
    }

    .alb {
        order: -1;
    }
}

body {
    background-color: hsl(216 43% 68%);
    font-family: 'Inconsolata', monospace;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#logo {
    justify-self: flex-start;
}

.options {
    padding: 0;
}

.blur {
    width: 100vh;
}

.options > li {
    display: inline-block;
    list-style: none;
    font-size: 2em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.tracklistmenu > a:nth-child(odd) {
    color: black;
}

.tracklistmenu > a:nth-child(odd) {
    color: darkslategrey;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    padding-bottom: 20px;
}

.project_title {
    margin: 0;
    margin-bottom: 20px;
    align-self: center;
}

.tracklist {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.tracklistmenu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menubuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    font-size: 1.7em;
}

.credits {
    flex: 1;
    justify-self: center;
    align-self: center;
}

.credits > p {
    align-self: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > .menubuttons {
    margin-top: 50px;
    padding: 0;
    font-size: 1.5em;
}


.alb {
    min-height: 50px;
    max-height: 500px;
    flex: 2;
}

.gallery {
    background-color: black;
    padding: 0;
    display: grid;
    max-width: 100%;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

.gallery-item img {
    width: 100%;
    object-fit: cover;
}

.post {
    display: flex;
    flex-direction: column;
}

.post > h2 {
    margin: 0;
    padding-left: 20px;
}

.post_info {
    padding-left: 100px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 10px;
}

.contact_post_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_post_info > * {
    margin: 0;
}

.sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    align-items: center;
}

.sign-container {
    height: 100vh;
}

#clock {
    font-size: 2em;
    font-weight: bold;
}

.list-item.active {
    text-decoration: underline;
}

